body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.filme {
  margin-top: 20px;
}
